// Patrones de color
$Principal: #337ab7;
$colorText: #696969;

//Tipografia
html{
    font-size: 13px;
}
body{
    font-family: 'Raleway', sans-serif;
    color: $colorText;
}

//Search navbar
.btn-search{
    padding: .6rem 1rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    cursor: pointer;
}

//Styles dropdown
.dropdown-menu{
    border: 1px solid $Principal;
    border-top-width: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); 
}

.dropdown-menu a i{
    font-size: .85rem;
    margin-right: .5rem;
}

//Media Queries
@media(min-width: 768px){
    .btn-search{
        padding: 0;
        font-size: 1.4rem;
        border-color: transparent;
    }

    /*Styles Megamenu*/
    .navbar .container{
        position: relative;
    }

    .mega-menu{
        position: static;
    }

    .mega-menu .dropdown-menu{
        position: absolute;
        width: 100%;
        left: 0;
        top: auto;
    }
}